body {
    background: url('https://res.cloudinary.com/dplsavizt/image/upload/v1702088767/image/pu4tnlxnrjgp85nxcpue.jpg') no-repeat fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* This CSS section applies to base.html */
/* Navigation CSS */
.navbar-container {
    width: 60%;
    margin: auto;
}

header {
    background-color: rgba(0,0,0,1);
    transition: 0.3s ease;
}

/* ID assigned from JS when the header moves from top position */
#header-not-at-top {
    background-color: rgba(0,0,0,1);
    transition: 0.3s;
}

#navbar {
    text-align: right;
}

.logo {
    font-family: sans-serif;
    color: white;
}

.nav-link {
    transition: color 0.3s, font-size 0.3s;
}

.nav-link:hover {
    color: #ffab18 !important;
    font-size: 1.2em;
    transition: 0.3s;
}

.active {
    font-size: 1.2em;
    text-decoration: underline;
}

.nav-icon {
    width: 20px;
    height: auto;
    color: white;
}

/* Footer Section */
footer {
    margin-top: auto;
}

.icon {
    color:#ffab18;
}

.social {
    transition: 0.3s ease;
}

.social:hover {
    color:#ffab18;
    transition: 0.3s;
    cursor: pointer;
    font-size: 1.2em;
}

/* This section applies to index.html */

#home-hero-container {
    width: 100%;
    height: 94vh;
    background: url('https://res.cloudinary.com/dplsavizt/image/upload/v1702190808/image/cnzfxtllyooo4nyfdcmy.webp') no-repeat;
    background-size: cover;
    background-position: center center;
}

.custom-button {
    border: 2px solid #ffab18;
    text-transform: uppercase;
    color: white;
    padding: 8px 18px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.custom-button:hover {
    background-color: #ffab18;
    color: black;
    transition: 0.3s;
    padding: 8px 20px;
    border: transparent;
}

/* Media Queries */
@media screen and (max-width:992px){
    .navbar-container {
        width: 90%;
    }
}