body {
    background: url('https://res.cloudinary.com/dplsavizt/image/upload/v1701942335/image/yc6ruki2sgaiiqrxpjfq.jpg') no-repeat;
    background-size: cover;
    /* background-position: center center; */

}

main {
    width: 10%;
    margin: auto;
}

/* Navigation CSS */
.navbar-container {
    width: 60%;
    margin: auto;
}

header {
    background-color: rgba(0,0,0,0);
    transition: 0.3s ease;
}

/* ID assigned from JS when the header moves from top position */
#header-not-at-top {
    background-color: rgba(0,0,0,1);
    transition: 0.3s;
}

.logo {
    font-family: sans-serif;
    color: white;
}

.nav-link {
    transition: color 0.3s, font-size 0.3s;
}

.nav-link:hover {
    color: orange !important;
    font-size: 1.1em;
    transition: 0.3s;
}

.active {
    font-size: 1.1em;
}

.nav-icon {
    width: 20px;
    height: auto;
    color: white;
}