{% extends "base.html" %}
{% load static %} 
{% block content %}
    {% if user.is_authenticated and user.is_staff %}
        <!-- Section for profile log out -->
        <div class="d-flex justify-content-end margin-right">
            <div>
                <span class="text-white">You are logged in as <strong>{{ user.username }}</strong></span>
                <p>
                    <a href="#logoutModal" data-bs-toggle="modal" class="logout-prompt">Logout</a>
                </p>
            </div>
        </div>

        <div class="container mt-4 text-white text-center">
            <div class="container mt-4 text-white text-center mb-4">
                <h1>Add New Ingredient</h1>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                
                    <!-- Loop through each field in the form -->
                    {% for field in form %}
                        <!-- Create a div for each form field -->
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                            <!-- Check if there are any validation errors for this field -->
                            {% if field.errors %}
                                <div class="error-message">
                                    <!-- Loop through each error fields -->
                                    {% for error in field.errors %}
                                        <!-- Display the error message -->
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-success mt-2">Add Ingredient</button>
                </form>
            </div>
        </div>

        {% elif user.is_authenticated %}

            <!-- Section for profile modification/log out -->
            <div class="d-flex justify-content-end margin-right">
                <div>
                    <span class="text-white">You are logged in as <strong>{{ user.username }}</strong></span>
                    <p>
                        <a href="#logoutModal" data-bs-toggle="modal" class="logout-prompt">Logout</a>
                    </p>
                </div>
            </div>

            <!-- Content for authenticated non-staff users -->
            <div class="container mt-4 mb-4" id="nonstaff-container">
                <div class="row align-items-center alert alert-light m-0 g-0 p-0">

                    <!-- Heading -->
                    <div class="col d-flex flex-column justify-content-center p-5">
                        <h3 class="alert-heading text-center"><strong>Restricted Access</strong></h3>
                    </div>

                    <div class="w-100"></div>

                    <!-- Text Message -->
                    <div class="col d-flex flex-column justify-content-center p-5">
                        <h4 class="mt-3">Welcome, <strong>{{ user.username }}</strong>!</h4>
                        <p>You are logged in, but only staff members can access this page.</p>
                        <p>Please return to the home page.</p>
                    </div>

                    <!-- Waiter Image -->
                    <div class="col p-0 text-right">
                        <img src="https://res.cloudinary.com/dplsavizt/image/upload/v1707254198/image/waiter.png" alt="Waiter" class="img-fluid">
                    </div>

                    <div class="w-100"></div>

                    <!-- Additional Section for Login/Register Button -->
                    <div class="col d-flex justify-content-center p-3">
                        <a href="{% url 'home' %}" class="btn btn-primary" aria-label="Home Page">Home Page</a>
                    </div>

                </div>
            </div>
    
        {% else %}

        <!-- When the user is not logged in it prompts to do so -->
        <div class="container mt-4 mb-4" id="login-prompt-container">
            <div class="row align-items-center alert alert-light m-0 g-0 p-0">

                <!-- Heading -->
                <div class="col d-flex flex-column justify-content-center p-5">
                    <h3 class="alert-heading text-center"><strong>Restricted Access</strong></h3>
                </div>

                <div class="w-100"></div>

                <!-- Text Message -->
                <div class="col d-flex flex-column justify-content-center p-5">
                    <p class="mt-3">Only authorized personnel allowed.</p>
                    <p>Please head to the staff portal and sign in.</p>
                </div>
    
                <!-- Waiter Image -->
                <div class="col p-0 text-right">
                    <img src="https://res.cloudinary.com/dplsavizt/image/upload/v1707254198/image/waiter.png" alt="Waiter" class="img-fluid">
                </div>
    
                <div class="w-100"></div>
    
                <!-- Additional Section for Login/Register Button -->
                <div class="col d-flex justify-content-center p-3">
                    <a href="{% url 'staff_portal' %}" aria-label="This link will redirect you to the staff portal" class="btn btn-primary">Staff Portal</a>
                </div>
    
            </div>
        </div>
        {% endif %}

        <!-- Modal for logout confirmation, not focusable through tab buttons and hidden from assistive technologies -->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">

                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="logoutModalLabel">Logout Confirmation</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        Are you sure you want to logout, <strong>{{ user.username }}</strong>?
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-regular fa-circle-xmark"></i>&nbsp;&nbsp;No</button>
                        <form method="post" action="{% url 'staff_portal' %}" class="d-inline">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="logout">
                            <button type="submit" class="btn btn-warning"><i class="fa-solid fa-right-from-bracket"></i>&nbsp;&nbsp;Yes</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
{% endblock %}