{% extends "base.html" %}
{% load static %} 
{% block content %}
<section id="home-hero-container" class="d-flex justify-content-center align-items-center">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6 text-white text-center">
                <h1>WELCOME TO THIS PLACE</h1>
                <h3>BLABLABLA</h3>
                <h3>BLABLA</h3>
            </div>

            <div class="col 6 col-lg-6 text-white text-center">
                <img src="https://res.cloudinary.com/dplsavizt/image/upload/v1702191098/image/pizza_hero.png" alt="Pizza" class="img-fluid" id="hero-width">
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button type="button" class="btn custom-button">
                    <a href="{% url 'menu' %}" id="menu-link">Discover the Menu</a>
                </button>
            </div>
        </div>
    </div>
</section>
{% endblock %}