{% extends "base.html" %}
{% load static %} 
{% block content %}
<section id="home-hero-container" class="d-flex justify-content-center align-items-center">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-4 text-white text-right justify-content-center">
                <h1 class="mb-5">DA SALVINO</h1>
                <h2 class="mb-5">Italian Cuisine</h2>
                <p>Where you can enjoy crunchy pizza baked in a wood oven</p>

                <a href="{% url 'menu' %}" class="btn custom-button mt-3 text-white align-items-center">View the Menu</a>
                <a href="{% url 'ingredients' %}" class="btn custom-button mt-3 text-white">View our Ingredients</a>
            </div>

            <div class="col-xl-6 col-lg-8 small-text-center">
                <img src="https://res.cloudinary.com/dplsavizt/image/upload/v1706345727/image/fxu5pjucplk6vzsqmzac.webp" alt="Pizza" class="img-fluid w-75 img-sm-w-50">
            </div>
        </div>
    </div>
</section>

<section id="intro-separator">
    <div class="container">
        <div class="row align-items-center pt-3 pb-3 text-center">
            <div class="col-4 text-white">
                <i class="fa-solid fa-leaf"></i>
                <h5>Healthy Food</h5>
                <p>Only the best Ingredients</p>
            </div>

            <div class="col-4 text-white">
                <i class="fa-solid fa-mug-hot"></i>
                <h5>Cozy Atmosphere</h5>
                <p>Enjoy the comfort</p>
            </div>

            <div class="col-4 text-white">
                <i class="fa-solid fa-pizza-slice pizza-slice"></i>
                <h5>Authentic Italian Taste</h5>
                <p>Made like in Italy</p>
            </div>

        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row no-gutters">

            <div class="col-md-6 px-0">
                <img class="img-fluid" src="https://res.cloudinary.com/dplsavizt/image/upload/v1707013111/image/restaurant-image.webp" alt="Cozy interior view of our restaurant, featuring wooden tables and ambient lighting.">
            </div>

            <div class="col-md-6 text-white d-flex flex-column justify-content-center text-left px-5">
                <h3 class="mb-xxl-5 mb-lg-3">Welcome Da Salvino</span></h3>
                <p>Escape into a world of old-world charm at Da Salvino. Our intimate dining space is a haven of quiet elegance, where time slows down, and every meal is a celebration of flavors. Soft lighting and comfortable seating create a warm, inviting atmosphere.</p>
            </div>
        </div>

        <div class="row no-gutters">

            <div class="col-md-6 px-0 order-md-2">
                <img class="img-fluid" src="https://res.cloudinary.com/dplsavizt/image/upload/v1707013116/image/oven.webp" alt="Traditional wooden oven used for baking artisanal pizzas.">
            </div>

            <div class="col-md-6 text-white d-flex flex-column justify-content-center text-left px-5 mt-5">
                <h3 class="mb-xxl-5 mb-lg-3">Wood Oven</h3>
                <p>Experience the authentic taste of Italy with our wood-fired pizzas. Our traditional wood oven infuses each pizza with a rich, smoky flavor that can't be replicated.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}