{% extends "base.html" %}
{% load static %} 
{% block content %}
<section class="container mt-5 text-white">

    <div class="container mt-5">
        <h1 class="text-center mb-4">Ingredients Page</h1>
    </div>
    
    <div class="row mt-5 text-center text-white">
        <h2>Vegetables</h2>
    </div>

    <div class="container" id="vegetables">
        <div class="row ingredients-content justify-content-center align-items-center mt-5">
            <div class="col-md-3">
                <img src="https://res.cloudinary.com/dplsavizt/image/upload/v1702464515/image/construction.png" alt="Image of construction sign" class="img-fluid">
            </div>
            <div class="col-md-9 text-center text-white">
                <h3>Description</h3>
            </div>
        </div>
        <div class="row ingredients-content justify-content-center align-items-center mt-5">
            <div class="col-md-3">
                <img src="https://res.cloudinary.com/dplsavizt/image/upload/v1702464515/image/construction.png" alt="Image of construction sign" class="img-fluid">
            </div>
            <div class="col-md-9 text-center text-white">
                <h3>Description</h3>
            </div>
        </div>
        <div class="row ingredients-content justify-content-center align-items-center mt-5">
            <div class="col-md-3">
                <img src="https://res.cloudinary.com/dplsavizt/image/upload/v1702464515/image/construction.png" alt="Image of construction sign" class="img-fluid">
            </div>
            <div class="col-md-9 text-center text-white">
                <h3>Description</h3>
            </div>
        </div>
    </div>
</section>
{% endblock %}