{% extends "base.html" %}
{% load static %} 
{% block content %}
    <section class="container mt-5 text-white">
        <div class="container mt-5">
            <h1 class="text-center mb-4">Our Menu</h1>
        
            <!-- Menu Categories -->
            <ul class="nav nav-tabs justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="#all" data-toggle="tab">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#pizza" data-toggle="tab">Pizza</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#pasta" data-toggle="tab">Pasta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#dessert" data-toggle="tab">Dessert</a>
                </li>
            </ul>
        
            <!-- Tab content -->
            <div class="tab-content">

                <div class="tab-pane container fade" id="all"></div>

                <div class="tab-pane container active" id="pizza">

                    <!-- Iterate over each pizza in the 'pizzas' context passed from the view -->
                    {% for pizza in pizzas %}
                        <div class="row menu-item" data-target="#pizza{{ pizza.id }}-details">

                            <div class="col-md-2">
                                <!-- Displaying the image of the pizza -->
                                <img src="{{ pizza.image.url }}" alt="{{ pizza.name }}" class="img-fluid">
                            </div>

                            <div class="col-md-10 text-center">
                                <h3>{{ pizza.name }}</h3>
                                <ul class="list-unstyled">
                                        <li>Pizza Dough</li>

                                    <!-- Conditional display of Tomato Sauce if the pizza has tomato -->
                                    {% if pizza.has_tomato %}
                                        <li>Tomato Sauce</li>
                                    {% endif %}

                                    <!-- Conditional display of Mozzarella if the pizza has mozzarella -->
                                    {% if pizza.has_mozzarella %}
                                        <li>Mozzarella</li>
                                    {% endif %}

                                    <!-- Iterating over each ingredient of the pizza -->
                                    {% for ingredient in pizza.ingredients.all %}
                                        <!-- Displaying the name of each ingredient -->
                                        <li>{{ ingredient.name }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% empty %}
                        <!-- Message displayed if there are no pizzas available -->
                        <p>No pizzas available at the moment.</p>
                    {% endfor %}
                </div>
                
                <div class="tab-pane container fade" id="pasta">
                    <h3> Pasta 1</h3>
                    <h3>Pasta 2</h3>
                    <h3>Pasta 3</h3>
                </div>

                <div class="tab-pane container fade" id="dessert">
                    <h3>Dessert 1</h3>
                    <h3>Dessert 2</h3>
                    <h3>Dessert 3</h3>
                </div>

            </div>
        </div>
    </section>
{% endblock %}