{% extends "base.html" %}
{% load static %} 
{% block content %}
    <section class="container mt-5 text-white">
        <div class="container mt-5">
            <h1 class="text-center mb-4">Our Menu</h1>
        
            <!-- Menu Categories -->
            <ul class="nav nav-tabs justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="#all" data-toggle="tab">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#pizza" data-toggle="tab">Pizza</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#pasta" data-toggle="tab">Pasta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#dessert" data-toggle="tab">Dessert</a>
                </li>
            </ul>
        
            <!-- Tab content -->
            <div class="tab-content">
                <div class="tab-pane container fade" id="all">
                </div>
                <div class="tab-pane container active" id="pizza">
                    <div class="row menu-item" data-target="#pizza1-details">
                        <div class="col-md-2">
                            <img src="https://res.cloudinary.com/dplsavizt/image/upload/v1702464515/image/construction.png" alt="Construction" class="img-fluid">
                        </div>
                        <div class="col-md-10 text-center">
                            <h3>Pizza Name</h3>
                        </div>
                    </div>
                </div>
                
                <div class="tab-pane container fade" id="pasta">
                    <h3> Pasta 1</h3>
                    <h3>Pasta 2</h3>
                    <h3>Pasta 3</h3>
                </div>
                <div class="tab-pane container fade" id="dessert">
                    <h3>Dessert 1</h3>
                    <h3>Dessert 2</h3>
                    <h3>Dessert 3</h3>
                </div>
            </div>
        </div>
    </section>
{% endblock %}