{% extends "base.html" %}
{% load static %} 
{% load static %}
{% block content %}
    <!-- Messages -->
    {% if messages %}
        <div id="message-container" class="alert" role="alert" style="display: none;">
            <div id="messages-data" style="display: none;">
                {% for message in messages %}
                    <span class="message-item" data-message="{{ message }}">{{ message }}</span>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if not user.is_authenticated %}
        <!-- When the user is not logged in it prompts to do so -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#authModal">
            Login/Register
        </button>
    
    {% else %}
        <!-- Section for profile modification/log out -->
        <div class="d-flex justify-content-end margin-right">
            <div>
                <span class="text-white">You are logged in as <strong>{{ user.username }}</strong></span>
                <p>
                    <a href="#passwordChangeModal" data-toggle="modal">Modify Password</a>
                </p>
                <p>
                    <a href="#logoutModal" data-toggle="modal" class="logout-prompt">Click here to logout</a>
                </p>
            </div>
        </div>

        <div class="container mt-4 text-white text-center">
            <h2>What do you wish to do, <strong>{{ user.username }}</strong>?</h2>
        
            <div class="row">
                <!-- Work on Ingredients -->
                <div class="col-md-6 mt-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Work on Ingredients</h4>
                            <div class="row">
                                <div class="col-12 col-md-6 mb-2">
                                    <a href="{% url 'add_ingredient' %}" class="btn btn-primary w-100">Add</a>
                                </div>
                                <div class="col-12 col-md-6 mb-2">
                                    <a href="{% url 'manage_ingredients' %}" class="btn btn-secondary w-100">Edit/Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <!-- Work on the Menu -->
                <div class="col-md-6 mt-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Work on the Menu</h4>
                            <div class="row">
                                <div class="col-12 col-md-6 mb-2">
                                    <a href="{% url 'add_menu_item' %}" class="btn btn-primary w-100">Add</a>
                                </div>
                                <div class="col-12 col-md-6 mb-2">
                                    <a href="{% url 'manage_menu_items' %}" class="btn btn-secondary w-100">Edit/Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal for logout confirmation, not focusable through tab buttons and hidden from assistive technologies -->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
 
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="logoutModalLabel">Logout Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">X</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        Are you sure you want to logout, <strong>{{ user.username }}</strong>?
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa-regular fa-circle-xmark"></i>&nbsp;&nbsp;No</button>
                        <form method="post" action="{% url 'staff_portal' %}" class="d-inline">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="logout">
                            <button type="submit" class="btn btn-warning"><i class="fa-solid fa-right-from-bracket"></i>&nbsp;&nbsp;Yes</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    {% endif %}

        <!-- Initially hidden Modal for login/registering, not focusable through tab buttons and hidden from assistive technologies -->
        <div class="modal fade" id="authModal" tabindex="-1" role="dialog" aria-labelledby="authModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="authModalLabel">Login/Register</h5>
                        <!-- Button that closes the Modal -->
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">X</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <!-- Tab Navigation -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active text-black" data-toggle="tab" href="#login" role="tab"
                                    aria-controls="login" aria-selected="true">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-black" data-toggle="tab" href="#register" role="tab"
                                    aria-controls="register" aria-selected="false">Register</a>
                            </li>
                        </ul>

                        <!-- Tab Panes -->
                        <div class="tab-content mt-4" id="authTabContent">
                            <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                                <!-- Login Form -->
                                <form method="post" action="">
                                    {% csrf_token %}
                                    
                                    {% if login_form.non_field_errors %}
                                        {% for error in login_form.non_field_errors %}
                                            <div class="alert alert-danger mt-3">{{ error }}</div>
                                        {% endfor %}
                                    {% endif %}
                                    
                                    {% for field in login_form %}
                                        <div class="form-group mt-2{% if field.errors %} has-error{% endif %}">
                                            {{ field.label_tag }}
                                            {{ field }}
                                            {% if field.errors %}
                                                {% for error in field.errors %}
                                                    <div class="alert alert-danger mt-3">{{ error }}</div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                    <button type="submit" name="submit_login" class="btn btn-primary mt-2">Login</button>
                                </form>
                            </div>

                            <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                <!-- Registration Form -->
                                <form method="post" action="">
                                    {% csrf_token %}
                                
                                    <div class="form-group mt-2">
                                        {{ signup_form.username.label_tag }}
                                        {{ signup_form.username }}
                                        {% if signup_form.username.errors %}
                                            {% for error in signup_form.username.errors %}
                                                <div class="alert alert-danger mt-3">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                
                                    <div class="form-group mt-4">
                                        {{ signup_form.password1.label_tag }}
                                        {{ signup_form.password1 }}
                                        {% if signup_form.password1.errors %}
                                            {% for error in signup_form.password1.errors %}
                                                <div class="alert alert-danger mt-3">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                
                                    <div class="form-group mt-2">
                                        {{ signup_form.password2.label_tag }}
                                        {{ signup_form.password2 }}
                                        {% if signup_form.password2.errors %}
                                            {% for error in signup_form.password2.errors %}
                                                <div class="alert alert-danger mt-3">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                
                                    <button type="submit" name="submit_signup" class="btn btn-primary mt-2">Register</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Password Change Modal, not focusable through tab buttons and hidden from assistive technologies -->
        <div class="modal fade" id="passwordChangeModal" tabindex="-1" role="dialog" aria-labelledby="passwordChangeModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
        
                    <div class="modal-header">
                        <h5 class="modal-title" id="passwordChangeModalLabel">Change Password for <strong>{{ user.username }}</strong></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">X</span>
                        </button>
                    </div>
        
                    <div class="modal-body">
                        <form method="post" action="">
                            {% csrf_token %}
        
                            <!-- Old Password -->
                            <div class="form-group mt-2">
                                {{ password_change_form.old_password.label_tag }}
                                {{ password_change_form.old_password }}
                                {% if password_change_form.old_password.errors %}
                                    {% for error in password_change_form.old_password.errors %}
                                        <div class="alert alert-danger mt-3">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </div>
        
                            <!-- New Password -->
                            <div class="form-group mt-4">
                                {{ password_change_form.new_password1.label_tag }}
                                {{ password_change_form.new_password1 }}
                                {% if password_change_form.new_password1.errors %}
                                    {% for error in password_change_form.new_password1.errors %}
                                        <div class="alert alert-danger mt-3">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </div>
        
                            <!-- Confirm New Password -->
                            <div class="form-group mt-2">
                                {{ password_change_form.new_password2.label_tag }}
                                {{ password_change_form.new_password2 }}
                                {% if password_change_form.new_password2.errors %}
                                    {% for error in password_change_form.new_password2.errors %}
                                        <div class="alert alert-danger mt-3">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </div>
        
                            <button type="submit" name="change_password" class="btn btn-primary mt-2">Change Password</button>
                        </form>
                    </div>
        
                </div>
            </div>
        </div>
{% endblock %}